.container {
  color: white;
  margin-bottom: 32px;
}

.container > label {
  font-weight: bold;
  color: inherit;
}

.container > input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid;
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: 16px;
  min-width: 100%;
  color: inherit;
  font-size: 14px;
  padding: 0;
  padding-bottom: 4px;
}
.container > input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 1);
}
