.container {
  background-color: var(--dark);
  padding-top: var(--navHeight);
  text-align: center;
  color: white;
}

.scroll {
  letter-spacing: 0.5em;
  font-weight: lighter;
}

.wrapper > section {
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 50vh;
  min-height: calc(var(--vh) * 50);
  padding: 24px;
  font-weight: bold;
  font-size: 20px;
}

.hidden {
  opacity: 0;
  animation: fadeout 1s;
}

.show {
  opacity: 1;
  animation: fadein 1s;
}

@media only screen and (min-width: 768px) {
  .wrapper > section {
    max-width: 50%;
    margin: auto;
    font-size: 42px;
    min-height: 60vh;
  min-height: calc(var(--vh) * 60);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
}