.container {
  min-height: calc(var(--vh) * 100);
  background-color: var(--dark);
}

.contactContainer {
  max-width: var(--maxWidthDisplay);
  margin: auto;
}

.title {
  padding-top: var(--navHeight);
}

.formContainer {
  margin: 0 16px;
  margin-top: 120px;
  animation: fadein 2s;
}

.submit {
  text-align: center;
  padding: 64px 0;
}

@media only screen and (min-width: 768px) {
  .formContainer {
    max-width: 50%;
  }

  .submit {
    text-align: left;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }
}
