@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap");

:root {
  --background: #d9d9d9;
  --dark: #2b2b2b;
  --black: #1b1c1e;
  --vh: 100vh;
  --navHeight: 153px;
  --maxWidthDisplay: 1280px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

h1,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 72px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
