.container {
  background-color: var(--background);
  height: 100vh;
}

.title {
  font-size: 72px;
  font-weight: bold;
}

.subTitle {
  letter-spacing: 3px;
  font-weight: lighter;
}

.image {
  position: fixed;
  bottom: -10px;
  min-width: 100%;
  text-align: center;
}

.github {
  position: fixed;
  right: 0;
  top: calc(50% - 107px);
}

/* .link {
  transition: all 500ms;
} */

/* .container:hover > :not(:hover) {
  filter: blur(5px);
} */
