.container {
  background-color: var(--background);
  height: 100vh;
  height: calc(var(--vh) * 100);
  position: absolute;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.titleContainer {
  padding-top: var(--navHeight);
}

.heroContainer {
  display: grid;
  height: 100vh;
  height: calc(var(--vh) * 100);
}

.image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: opacity 2s;
  margin-top: 40px;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }
}

/* .link {
  transition: all 500ms;
} */

/* .container:hover > :not(:hover) {
  filter: blur(5px);
} */
