.container {
  background-color: var(--background);
  height: 100vh;
  height: calc(var(--vh) * 100);
  position: absolute;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.titleContainer {
  padding-top: var(--navHeight);
}

.heroContainer {
  display: grid;
  height: 100vh;
  height: calc(var(--vh) * 100);
  max-width: var(--maxWidthDisplay);
  margin: auto;
}

.imageContainer{
  display: grid;
  align-items: flex-end;
  justify-content: center;
}

.image {
  animation: opacity 2s;
  position: relative;
  height: 350px;
  width: 240px;
  margin-top: 40px; 
}

.article {
  display: none;
  animation: opacity 2s;
  margin-left: 16px;
}

.article:last-child {
  align-items: flex-end;
  padding-bottom: 16px;
}

.article:nth-last-child(2) {
  grid-template-columns: 50%;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .article {
    display: grid;
  }


  .titleContainer {
    display: grid;
  }

  .heroContainer {
    grid-template-columns: 1fr 1fr;
  }

  .image {
    transform: rotateY(180deg);
    height: 552px;
    width: 379px;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }
}
