.container {
  background-color: var(--dark);
  color: white;
  min-height: 100vh;
  min-height: calc(var(--vh) * 100);
}

.title {
  color: inherit;
}

.workContainer {
  padding-top: var(--navHeight);
}

.linkContainer {
  display: grid;
  row-gap: 16px;
  margin-top: 120px;
  padding-bottom: 60px;
  opacity: 1;
  animation: fadeIn 2s;
  padding-left: 16px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
}
