.bannerContainer {
  width: max-content;
  position: relative;
  padding-left: 16px;
  margin-bottom: auto;
  padding-top: 16px;
  color: black;
}

.dark {
  color: white;
}

.dark > div {
  background-color: white;
}

.blocker {
  background-color: black;
  width: 0px;
  animation: slide 1.5s cubic-bezier(0.82, -0.01, 0.13, 1.01);
  height: 100%;
  position: absolute;
  right: 0;
}

.title {
  display: inline;
  animation: opacity 1.5s;
  color: inherit;
  word-wrap: break-word;
}

.subTitle {
  letter-spacing: 0.2em;
  font-weight: lighter;
  display: inline;
  animation: opacity 1.5s;
  color: inherit;
}

.bannerContainer >  {
  display: none;
}

.article {
  display: none;
  font-size: 24px;
  margin-left: 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: minmax(min-content, min-content);
    height: 100vh;
    height: calc(var(--vh) * 100 - var(--navHeight));
  }
  
  .title {
    font-size: 128px;
  }

  .subTitle {
    font-size: 24px;
    letter-spacing: 0.35em;
  }

  .article {
    display: grid;
  }

  .article:nth-child(2) {
    align-items: center;
  }

  .article:last-child {
    align-items: end;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
  }
}
