.bannerContainer {
  max-width: min-content;
  position: relative;
  padding-left: 16px;
  margin-bottom: auto;
  padding-top: 16px;
  color: black;
}

.dark {
  color: white;
}

.dark > div {
  background-color: white;
}

.blocker {
  background-color: black;
  width: 0px;
  animation: slide 1.5s cubic-bezier(0.82, -0.01, 0.13, 1.01);
  height: 100%;
  position: absolute;
  right: 0;
}

.title {
  display: inline;
  animation: opacity 1.5s;
  color: inherit;
}

.subTitle {
  letter-spacing: 3px;
  font-weight: lighter;
  display: inline;
  animation: opacity 1.5s;
  color: inherit;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
  }
}
