.container {
  max-width: 320px;
}

.linkContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkContent p {
  font-size: 24px;
  font-weight: bold;
}

.descriptionContainer p {
  font-weight: lighter;
}

.icon {
  transform: rotate(315deg);
}

.descriptionContainer:nth-last-child(2) {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 50%;
  }
  
  .descriptionContainer:nth-last-child(2) {
    display: block;
  }
}
