.container {
  position: absolute;
  width: 100%;
}
.titleContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 16px;
  animation: opacity 2s;
}

.button {
  border: none;
  background-color: transparent;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: inherit;
}

.border {
  position: relative;
  bottom: 0;
  border-bottom: 2px solid black;
  margin: 0 16px;
  border-color: inherit;
  right: 0;
  width: calc(100% - 32px);
  animation: slide 2s cubic-bezier(0.65, 0, 0.18, 1.02);
}

.menu {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: var(--black);
  color: white;
  animation: slide 1s cubic-bezier(0.65, 0, 0.18, 1.02);
}

.containerLink {
  display: grid;
  margin-left: 16px;
}

.link {
  font-size: 72px;
  font-weight: bold;
  color: inherit;
}

.close {
  padding: 36px 16px;
  text-align: right;
}

.footer {
  display: grid;
  row-gap: 20px;
  position: absolute;
  bottom: 40px;
  margin-left: 16px;
}

.footer p {
  font-size: 20px;
  font-weight: lighter;
}

.footer > p:nth-child(2) {
  font-weight: bold;
  font-size: 24px;
}

@keyframes slide {
  0% {
    width: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
}
