.container {
  position: absolute;
  width: 100%;
}
.titleContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 16px;
  animation: opacity 2s;
}

.button {
  border: none;
  background-color: transparent;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: inherit;
}

.border {
  position: relative;
  bottom: 0;
  border-bottom: 2px solid black;
  margin: 0 16px;
  border-color: inherit;
  right: 0;
  width: calc(100% - 32px);
  animation: slide 2s cubic-bezier(0.65, 0, 0.18, 1.02);
}

@keyframes slide {
  0% {
    width: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
}
