.container {
  position: absolute;
  width: 100%;
}

.containerDark {
  color: white;
}

.titleContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 16px;
  animation: fadein 2s;
  color: inherit;
}

.button {
  border: none;
  background-color: transparent;
  color: inherit;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: inherit;
}

.border {
  position: relative;
  bottom: 0;
  border-bottom: 2px solid black;
  margin: 0 16px;
  border-color: inherit;
  right: 0;
  width: calc(100% - 32px);
  animation: slidein 2s cubic-bezier(0.65, 0, 0.18, 1.02);
}

.menu {
  height: 100vh;
  height: calc(var(--vh) * 100);
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: var(--black);
  color: white;
  animation: slidein 1s cubic-bezier(0.65, 0, 0.18, 1.02);
}

.containerLink {
  display: grid;
  margin-left: 16px;
  animation: fadein 1000ms;
  overflow: hidden;
}

.containerLink > .linkWrapper:nth-child(1) > .blocker {
  animation: maskSlideOut 2000ms;
}
.containerLink > .linkWrapper:nth-child(2) > .blocker {
  animation: maskSlideOut 2500ms;
}
.containerLink > .linkWrapper:nth-child(3) > .blocker {
  animation: maskSlideOut 3000ms;
}
.containerLink > .linkWrapper:nth-child(4) > .blocker {
  animation: maskSlideOut 3500ms;
}

.linkWrapper {
  position: relative;
  width: max-content;
}

.link {
  font-size: 64px;
  font-weight: bold;
  color: inherit;
}

.blocker {
  background-color: var(--black);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateX(100%);
}
.closeButton {
  padding: 36px 16px;
  text-align: right;
  animation: fadein 2000ms;
}

.footer {
  display: grid;
  row-gap: 20px;
  position: absolute;
  bottom: 40px;
  margin-left: 16px;
  animation: fadein 4500ms;
}

.footer p {
  font-size: 20px;
  font-weight: lighter;
}

.footer > p:nth-child(2) {
  font-weight: bold;
  font-size: 24px;
}

/* Close Class */

.footerClose {
  opacity: 0;
  animation: fadeout 500ms;
}

.containerLinkClose {
  opacity: 0;
  animation: fadeout 1000ms;
}

.closing {
  opacity: 0;
  animation: fadeout 1500ms;
}

.menuClose {
  width: 0;
  animation: slideout 2s cubic-bezier(0.65, 0, 0.18, 1.02);
}

.desktopMenu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: var(--maxWidthDisplay);
    left: 50%;
    transform: translateX(-50%);
  }

  .button {
    display: none;
  }

  .desktopMenu {
    display: flex;
    gap: 70px;
    font-weight: bold;
  }

  .desktopMenu > a {
    transition: all 0.5s;
  }
  .desktopMenu:hover > :not(a:hover){
    filter: blur(5px);
  }

}

@keyframes slidein {
  0% {
    width: 0;
  }
}

@keyframes slideout {
  0% {
    width: 100%;
  }

  50% {
    width: 100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
}

@keyframes maskSlideOut {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(0%);
  }
}
