.container {
  height: 543px;
  color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s;
  background-color: var(--background);
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 256px;
}

.titleContainer > p:first-child {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  line-height: 80%;
}

.circle {
  height: 240px;
  width: 240px;
  background-color: var(--dark);
  color: white;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}

.circle > p {
  font-size: 24px;
  font-weight: bold;
  color: inherit;
}

@media only screen and (min-width: 768px) {
  .titleContainer {
    flex-direction: row;
    gap: 48px;
  }

  .titleContainer > p:first-child {
    font-size: 98px;
    text-align: left;
  }

  .circle {
    height: 300px;
    width: 300px;
  }

  .circle  p{
    font-size: 32px;
    transition: all 0.5s;
  }
  
  .circle:hover p{
    scale: 1.2;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
}
